<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginUsePasswordServlet</servlet-name>
        <servlet-class>Controller.LoginUsePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>Controller.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUseGoogleServlet</servlet-name>
        <servlet-class>Controller.LoginUseGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>Controller.ProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>Controller.ShopController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUsePasswordServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUseGoogleServlet</servlet-name>
        <url-pattern>/logingoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
